body {
   background-color:#e7ecef;
}

.container{
   width: 40%;
   margin: auto;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   background-color: #f0f0f0;
   padding: 1rem;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items:center;
}

.todoName{
    font-size: 1.5rem;
    font-weight: bold; 
}

.todoContainer {
   background-color: white;
}

.todoInput {
   border: 1px solid #3490dc;
   border-radius: 0.25rem;
   padding: 0.5rem 1rem;
   margin-right: 0.5rem;
}

.addButton {
   background-color: #3490dc;
   color: #fff;
   font-weight: 700;
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 0.25rem;
   cursor: pointer;
}

.addButton:hover {
   background-color: #2779bd;
}

.todoList {
   margin-top: 1rem;
}

.todoDiv{
   display: flex;
   justify-content: center;
   align-items:center;
}

.todoText {
   background-color: #e2e8f0;
   border-radius: 0.5rem;
   padding: 0.5rem 0.5rem;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   margin-top: 0.25rem;
   width: 14rem;
}

.todoDelete {
   background-color:#ef4444;
   color:white;
   font-weight: 700;
   padding: 0.25rem;
   border-radius:0.25rem;
   border: none;
}

.todoDelete:hover {
   background-color: #dc2626;
}
